.App{
  background-color:#a600ff;
  padding: 30px;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.App input{
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 80%;
    
}
.App input:focus{
    outline: none;
}
.appinupt{
    padding: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.appinupt button{
    background-color: #00caf5ab;
    border-radius: 10px;
    color: white;
    border: none;
    padding: 10px;
    
}
.jokes{
    background-color: #ff000000;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
    color: white;
    width: 500px;
    text-align: center;
    border-radius: 10px;

}
.bg{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    border-radius: 10px;
}